<main>
    <po-button id="mais-info" p-kind="tertiary" [p-icon]="maisinfo"></po-button>
    <po-button routerLink="" id="logo" p-kind="tertiary" [p-icon]="logo"></po-button>
</main>

<ng-template #logo>
    <div class="container-logo">
        <img class="img-logo" src="../../../assets/IdoloIllaoi.png" alt="LogoSite">
        <h1 class="titulo-logo">IllaoiH</h1>
    </div>
</ng-template>
<ng-template #maisinfo>
    <div class="mais-info">
        <img src="../../../assets/more.png"  alt="maisinfo">
    </div>
    
</ng-template>
  
